version: "2.2"

services:
  connect:
    image: fda:2024.11.0
    build:
      context: .
      dockerfile: Dockerfile
      args: 
        PSC_VERSION: "2024.11.0"
    command: ["/usr/local/bin/psc-start.sh"]
    container_name: connect
    hostname: connect
    privileged: true
    volumes:
      - var_lib_connect:/var/lib/rstudio-connect
    ports:
      - "3939:3939"
    environment:
      RSC_LICENSE: ${RSC_LICENSE}

  connect_new:
    image: fda:2026.01.1
    build:
      context: .
      dockerfile: Dockerfile
      args: 
        PSC_VERSION: "2026.01.1"
    command: ["/usr/local/bin/psc-start.sh"]
    container_name: connect_new
    hostname: connect_new
    privileged: true
    volumes:
      - var_lib_connect_new:/var/lib/rstudio-connect
    ports:
      - "3940:3939"
    environment:
      RSC_LICENSE: ${RSC_LICENSE}

  packagemanager:
    image: rstudio-pm:${PPM_VERSION:-2025.12.0-14}-R-${R_VERSION:-4.5.2}-py-${PYTHON_VERSION:-3.11.6}
    build:
      context: .
      dockerfile: Dockerfile.ppm
      args:
        PPM_VERSION: ${PPM_VERSION:-2025.04.4-13}
        R_VERSION: ${R_VERSION:-4.5.2}
        PYTHON_VERSION: ${PYTHON_VERSION:-3.11.6}
    command: ["/ppm-start.sh"]
    container_name: packagemanager
    hostname: packagemanager
    privileged: false
    volumes:
      - var_lib_rspm:/var/lib/rstudio-pm
    ports:
      - "4242:4242"
    environment:
      RSPM_LICENSE: ${RSPM_LICENSE}

volumes:
  var_lib_connect_new:
  var_lib_connect:
  var_lib_rspm: